<?xml version='1.0'?>
<model>
  <name>darwinOP</name>
  <version>0.1.0</version>
  <sdf version='0.1.0'>darwinOP.urdf</sdf>
  <author>
    <name>Duc Nguyen,Taegoo Kim, Bharadwaj Ramesh</name>
    <email>ducnguyen@drexel.edu</email>
  </author>
  <description>
    This model approximates the darwin-op robot.
  </description>
</model>
